* The Map() function in python

In [ ]:
#Syntax

map(function, iterable)

In [10]:
numbers = [1, 3, 4, 5, 7, 1]

def square(number):
  return number * number

print(list(map(square, numbers)))

[1, 9, 16, 25, 49, 1]

In [14]:
#Lambda func in map

list(map(lambda x:x*x, numbers))

[1, 9, 16, 25, 49, 1]

In [17]:
#Map multiple iterables

numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers= list (map(lambda x,y : x+y, numbers1,numbers2))

print(added_numbers)

[5, 7, 9]

In [18]:
#Use map to convert a list of Strings to integers

str_numbers=['1','2','3','4','5']
int_numbers=list(map(int, str_numbers))

print(int_numbers)

[1, 2, 3, 4, 5]

In [19]:
#On inbulid func

words=['apple','banana','cherry','watermelon']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY', 'WATERMELON']

In [21]:
#Apply map() on dictionaries

def get_name(person):
    return person['name']
people=[
    {'name':'shruti','age':21},
    {'name':'Harshali','age':26}
]
print(list(map(get_name,people)))

['shruti', 'Harshali']