* Tuples

In [1]:
#Creating tuple
#Empty tuple and list
empty_tuple=tuple()
empty_list=list()

print(empty_list)
print(empty_tuple)

[]
()

In [1]:
#Add elements

#coverting list into tuple
numbers=tuple([1,2,3,4,5,6])
#converting tuple into list
number1=list((12,3,45,8,87))

print(numbers)
print(number1)

(1, 2, 3, 4, 5, 6)
[12, 3, 45, 8, 87]

In [2]:
#Accessing tuple elements

print(numbers[2])

3

* Slicing same as list

In [7]:
#Tuple operation

#Concatenation

mixed_tuple=("Shruti",2,5,True)
concat=numbers + mixed_tuple
print(concat)

#Repeated

repeat=mixed_tuple *3
print(repeat)

(1, 2, 3, 4, 5, 6, 'Shruti', 2, 5, True)
('Shruti', 2, 5, True, 'Shruti', 2, 5, True, 'Shruti', 2, 5, True)

In [21]:
#Nested tuple

tup=(1,2,3),(4,5,6),(7,8,9)
print(tup[2])
print(tup[2][1])

(7, 8, 9)
8

In [22]:
#Iterating over nested tuple

for sub_tuple in tup:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
4 5 6
7 8 9